In [18]:
import pandas as pd
from cassandra.cluster import Cluster

In [19]:
clstr = Cluster()
session = clstr.connect()

In [20]:
session.execute("DROP KEYSPACE IF EXISTS w04python")

In [21]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [22]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS w04python WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

In [24]:
session.execute("""
CREATE TABLE IF NOT EXISTS w04python.system_comp ( 
    user_id INT, 
    t_date TEXT,
    t_file TEXT, 
    file TEXT,
    PRIMARY KEY(user_id)
);
""")

In [17]:
with open("attachment.txt" , "w") as fout:
    fout.write("This is a text file. We need to save it as text file")

In [15]:
with open("audiofile.mp3" , "w") as fout:
    fout.write("This is a audio file. We need to save it as audio file")

In [16]:
with open("imagefile.img" , "w") as fout:
    fout.write("This is a image file. We need to save it as image file")

In [28]:
df = pd.read_csv('Systems_Dataset.csv')
df

    user_id    t_date   t_file              file
0         1   '2 Aug'  'Audio'   'audiofile.mp3'
1         2   '3 Aug'   'Text'  'attachment.txt'
2         3   '2 Aug'  'Image'   'imagefile.img'
3         4   '5 May'  'Audio'   'audiofile.mp3'
4         5  '12 Feb'   'Text'  'attachment.txt'
5         6   '2 Dec'  'Image'   'imagefile.img'
6         7  '21 Aug'  'Audio'   'audiofile.mp3'
7         8  '22 Jan'   'Text'  'attachment.txt'
8         9   '2 Aug'  'Image'   'imagefile.img'
9        10   '3 May'  'Audio'   'audiofile.mp3'
10       11  '24 Jun'   'Text'  'attachment.txt'
11       12  '12 Sep'  'Image'   'imagefile.img'

In [29]:
for index, row in df.iterrows():
    print(f"user_id = {row.user_id}, t_date ={row.t_date}, t_file = {row.t_file}, file = {row.file}")

user_id = 1, t_date ='2 Aug', t_file = 'Audio', file = 'audiofile.mp3'
user_id = 2, t_date ='3 Aug', t_file = 'Text', file = 'attachment.txt'
user_id = 3, t_date ='2 Aug', t_file = 'Image', file = 'imagefile.img'
user_id = 4, t_date ='5 May', t_file = 'Audio', file = 'audiofile.mp3'
user_id = 5, t_date ='12 Feb', t_file = 'Text', file = 'attachment.txt'
user_id = 6, t_date ='2 Dec', t_file = 'Image', file = 'imagefile.img'
user_id = 7, t_date ='21 Aug', t_file = 'Audio', file = 'audiofile.mp3'
user_id = 8, t_date ='22 Jan', t_file = 'Text', file = 'attachment.txt'
user_id = 9, t_date ='2 Aug', t_file = 'Image', file = 'imagefile.img'
user_id = 10, t_date ='3 May', t_file = 'Audio', file = 'audiofile.mp3'
user_id = 11, t_date ='24 Jun', t_file = 'Text', file = 'attachment.txt'
user_id = 12, t_date ='12 Sep', t_file = 'Image', file = 'imagefile.img'

In [30]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)     
        VALUES ({row.user_id}, {row.t_date}, {row.t_file}, {row.file});
        """
    )
    session.execute(f"""
        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)     
        VALUES ({row.user_id}, {row.t_date}, {row.t_file}, {row.file});
        """
    )

        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (1, '2 Aug', 'Audio', 'audiofile.mp3');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (2, '3 Aug', 'Text', 'attachment.txt');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (3, '2 Aug', 'Image', 'imagefile.img');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (4, '5 May', 'Audio', 'audiofile.mp3');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (5, '12 Feb', 'Text', 'attachment.txt');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (6, '2 Dec', 'Image', 'imagefile.img');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (7, '21 Aug', 'Audio', 'audiofile.mp3');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (8, '22 Jan', 'Text', 'attachment.txt');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (9, '2 Aug', 'Image', 'imagefile.img');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (10, '3 May', 'Audio', 'audiofile.mp3');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (11, '24 Jun', 'Text', 'attachment.txt');


        INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
        VALUES (12, '12 Sep', 'Image', 'imagefile.img');

In [52]:
rows = session.execute("select(user_id,t_date,t_file,file) from w04python.system_comp where user_id = 1")
for row in rows:
   datafile = (f"user_id={row[0][0]}, , t_date={row[0][1]}, t_file={row[0][2]},file={row[0][3]}")

In [63]:
rows = session.execute("select(user_id,t_date,t_file,file) from w04python.system_comp where user_id = 1")
for row in rows:
   datafile = (f"file={row[0][3]}")
datafile

'file=audiofile.mp3'

In [65]:
abc = datafile.file
with open(abc, "r") as fin:
    tmp = fin.read()

AttributeError: 'str' object has no attribute 'file'

In [53]:
insert_query = """
    INSERT INTO w04python.system_comp (user_id, t_date, t_file, file)
    VALUES (%s, %s, %s, %s)
"""

# Parameters for the insert
user_id = 15
t_date = "29 Feb"
t_file = "Image"
file = "imagefile.img"

# Execute the insert query
session.execute(insert_query, (user_id, t_date, t_file, file))

In [58]:
# Execute the delete query
delete_query = """
    DELETE FROM w04python.system_comp
    WHERE t_date = %s
"""

# Parameters for the delete
t_date = '3 May'

session.execute(delete_query, ( t_date ))

TypeError: not all arguments converted during string formatting

In [55]:
# Define the delete query
delete_query = """
    w04python.system_comp (user_id, t_date, t_file, file)
    WHERE user_id = %s 
"""

# Parameters for the delete
user_id = 11  # Replace

TypeError: 'int' object is not iterable