# Mid Term Easy Question:

# Author: Chandni Kumari

### Importing necessary packages

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### Creating a session connection to Cassandra cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

## Checking available Keyspaces

In [3]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### Use session to 'talk' to cassandra

In [4]:
session.execute("DROP KEYSPACE IF EXISTS w04python")

## Again checking the keyspaces

In [5]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

## Creating a new keyspace named "songs"

In [6]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS music WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

## checking the created keyspace "music"

In [7]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
music
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

## As the keyspace "music" created, so, now Creating a "songs " table

In [8]:
session.execute("""
CREATE TABLE IF NOT EXISTS music.songs ( 
    song_id INT, 
    title TEXT, 
    duration INT, 
    genre TEXT,
    PRIMARY KEY(genre, song_id)
);
""")

### Loading data from the created songs.csv file

In [9]:
df = pd.read_csv('songs.csv')
df

   song_id title  duration        genre
0        1   'A'       180        'pop'
1        2   'B'       100       'rock'
2        3   'C'       170  'classical'
3        4   'D'       200    'country'

## Printing to see the data of the table

In [10]:
for index, row in df.iterrows():
    print(f"song_id = {row.song_id}, title ={row.title}, duration = {row.duration}, genre = {row.genre}")

song_id = 1, title ='A', duration = 180, genre = 'pop'
song_id = 2, title ='B', duration = 100, genre = 'rock'
song_id = 3, title ='C', duration = 170, genre = 'classical'
song_id = 4, title ='D', duration = 200, genre = 'country'

In [15]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO music.songs (song_id, title, duration, genre)     
        VALUES ({row.song_id}, {row.title}, {row.duration}, {row.genre});
        """
    )
    session.execute(f"""
        INSERT INTO music.songs (song_id, title, duration, genre)     
        VALUES ({row.song_id}, {row.title}, {row.duration}, {row.genre});
        """
    )

        INSERT INTO music.songs (song_id, title, duration, genre)
        VALUES (1, 'A', 180, 'pop');


        INSERT INTO music.songs (song_id, title, duration, genre)
        VALUES (2, 'B', 100, 'rock');


        INSERT INTO music.songs (song_id, title, duration, genre)
        VALUES (3, 'C', 170, 'classical');


        INSERT INTO music.songs (song_id, title, duration, genre)
        VALUES (4, 'D', 200, 'country');

In [17]:
rows = session.execute("select (song_id, title, duration, genre) from music.songs")
for row in rows:
    print(f"song_id={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

song_id=3, title=C, duration=170, genre=classical
song_id=2, title=B, duration=100, genre=rock
song_id=1, title=A, duration=180, genre=pop
song_id=4, title=D, duration=200, genre=country

In [ ]:
rows = session.execute("update music.songs set title ='R' where duration = 100");