## Mid term Assignment Cassandra

## Submitted by Aarsha Joji

### Import packages

In [2]:
import pandas as pd
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [3]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra

In [4]:
session.execute("DROP KEYSPACE IF EXISTS sond")

In [5]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
stu
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

### Create a keyspace - song

In [6]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS song WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

In [7]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
song
stu
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

### Create a Music table for testing

In [8]:
session.execute("""
CREATE TABLE IF NOT EXISTS song.music ( 
    songid INT, 
    title TEXT, 
    duration INT, 
    genre TEXT, 
    PRIMARY KEY(songid)
);
""")

### Load data

In [9]:
df = pd.read_csv('songcollection.csv')
df

   songid     title  duration        genre
0       1  'beetle'       300        'pop'
1       2    'army'       305       'rock'
2       3   'queen'       306  'classical'
3       4    'love'       306    'country'
4       5    'king'       300        'pop'

In [10]:
for index, row in df.iterrows():
    print(f"songid = {row.songid}, title ={row.title}, duration = {row.duration}, genre = {row.genre}")

songid = 1, title ='beetle', duration = 300, genre = 'pop'
songid = 2, title ='army', duration = 305, genre = 'rock'
songid = 3, title ='queen', duration = 306, genre = 'classical'
songid = 4, title ='love', duration = 306, genre = 'country'
songid = 5, title ='king', duration = 300, genre = 'pop'

In [11]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO song.music (songid, title, duration, genre)     
        VALUES ({row.songid}, {row.title}, {row.duration}, {row.genre});
        """
    )
    session.execute(f"""
        INSERT INTO song.music (songid, title, duration, genre)     
        VALUES ({row.songid}, {row.title}, {row.duration}, {row.genre});
        """
    )

        INSERT INTO song.music (songid, title, duration, genre)
        VALUES (1, 'beetle', 300, 'pop');


        INSERT INTO song.music (songid, title, duration, genre)
        VALUES (2, 'army', 305, 'rock');


        INSERT INTO song.music (songid, title, duration, genre)
        VALUES (3, 'queen', 306, 'classical');


        INSERT INTO song.music (songid, title, duration, genre)
        VALUES (4, 'love', 306, 'country');


        INSERT INTO song.music (songid, title, duration, genre)
        VALUES (5, 'king', 300, 'pop');

In [13]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=2, title=army, duration=305, genre=rock
songid=4, title=love, duration=306, genre=country
songid=3, title=queen, duration=306, genre=classical

### Adding a new Record

### I am adding a total of four records into the existing dataset

In [17]:
session.execute(f"""
INSERT INTO song.music (songid, title, duration, genre)     
    VALUES (6,'mother', 309, 'classical');
"""
)

In [32]:
session.execute(f"""
INSERT INTO song.music (songid, title, duration, genre)     
    VALUES (7,'prince', 310, 'pop');
"""
)

session.execute(f"""
INSERT INTO song.music (songid, title, duration, genre)     
    VALUES (8,'people', 305, 'rock');
"""
)

session.execute(f"""
INSERT INTO song.music (songid, title, duration, genre)     
    VALUES (9,'stoppable', 300, 'country');
"""
)

In [33]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=8, title=people, duration=305, genre=rock
songid=2, title=army, duration=305, genre=rock
songid=4, title=love, duration=306, genre=country
songid=7, title=prince, duration=310, genre=pop
songid=6, title=mother, duration=309, genre=classical
songid=9, title=stoppable, duration=300, genre=country
songid=3, title=queen, duration=306, genre=classical

### Deleting a record

### Deleting the records with songid =3 and songid =4

In [35]:
session.execute(f"""
Delete from song.music
where songid = 3                             
"""
)

In [36]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=8, title=people, duration=305, genre=rock
songid=2, title=army, duration=305, genre=rock
songid=4, title=love, duration=306, genre=country
songid=7, title=prince, duration=310, genre=pop
songid=6, title=mother, duration=309, genre=classical
songid=9, title=stoppable, duration=300, genre=country

In [39]:
session.execute(f"""
Delete from song.music
where songid = 4                            
"""
)

In [40]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=8, title=people, duration=305, genre=rock
songid=2, title=army, duration=305, genre=rock
songid=7, title=prince, duration=310, genre=pop
songid=6, title=mother, duration=309, genre=classical
songid=9, title=stoppable, duration=302, genre=country

### updating an existing record

#### Updatin the record to set duration to 302 from singid = 9

In [37]:
session.execute(f"""
update song.music
set duration = 302
where songid = 9                            
"""
)

In [38]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=8, title=people, duration=305, genre=rock
songid=2, title=army, duration=305, genre=rock
songid=4, title=love, duration=306, genre=country
songid=7, title=prince, duration=310, genre=pop
songid=6, title=mother, duration=309, genre=classical
songid=9, title=stoppable, duration=302, genre=country

#### Updating the record to set title to country for singid = 7

In [41]:
session.execute(f"""
update song.music
set genre = 'country'
where songid = 7                            
"""
)

In [42]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=8, title=people, duration=305, genre=rock
songid=2, title=army, duration=305, genre=rock
songid=7, title=prince, duration=310, genre=country
songid=6, title=mother, duration=309, genre=classical
songid=9, title=stoppable, duration=302, genre=country

#### Updatin the record to set genre as country from singid = 2

In [43]:
session.execute(f"""
update song.music
set genre = 'country'
where songid = 2                            
"""
)

In [44]:
rows = session.execute("select (songid, title, duration, genre) from song.music")
for row in rows:
    print(f"songid={row[0][0]}, title={row[0][1]}, duration={row[0][2]}, genre={row[0][3]}")

songid=5, title=king, duration=300, genre=pop
songid=1, title=beetle, duration=300, genre=pop
songid=8, title=people, duration=305, genre=rock
songid=2, title=army, duration=305, genre=country
songid=7, title=prince, duration=310, genre=country
songid=6, title=mother, duration=309, genre=classical
songid=9, title=stoppable, duration=302, genre=country