In [47]:
import pandas as pd
from cassandra.cluster import Cluster
clstr = Cluster()
session = clstr.connect()

In [58]:
session.execute("CREATE KEYSPACE IF NOT EXISTS exam WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [59]:


session.execute("""
CREATE TABLE IF NOT EXISTS exam.song (
    song_id INT, 
    title TEXT, 
    duration INT, 
    genre TEXT, 
    PRIMARY KEY(genre,song_id)
);
""")

In [60]:
df = pd.read_csv('w04.csv')
df

   song_id    title  duration      genre
0     1000    'Tim'        95     'pop'
1     1001   'John'        97     'rock'
2     1002   'Jane'        89  'classic'
3     1003  'Betty'        78  'country'
4     1004    'Jim'        65      'pop'
5     1005  'Frank'        97     'rock'
6     1006   'Judy'        83  'classic'

In [66]:
for index, row in df.iterrows():
    print(f"song_id = {row.song_id}, title ={row.title}, duration = {row.duration},genre = {row.genre}")

song_id = 1000, title ='Tim', duration = 95,genre = 'pop'
song_id = 1001, title ='John', duration = 97,genre = 'rock'
song_id = 1002, title ='Jane', duration = 89,genre = 'classic'
song_id = 1003, title ='Betty', duration = 78,genre = 'country'
song_id = 1004, title ='Jim', duration = 65,genre = 'pop'
song_id = 1005, title ='Frank', duration = 97,genre = 'rock'
song_id = 1006, title ='Judy', duration = 83,genre = 'classic'

In [67]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO exam.song(song_id,title,duration, genre)     
        VALUES ({row.song_id}, {row.title}, {row.duration}, {row.genre});
        """
    )
    session.execute(f"""
        INSERT INTO exam.song(song_id,title,duration, genre)    
        VALUES VALUES ({row.song_id}, {row.title}, {row.duration}, {row.genre});;
        """
    )

        INSERT INTO exam.song(song_id,title,duration, genre)
        VALUES (1000, 'Tim', 95, 'pop' );

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 3:15 mismatched input 'VALUES' expecting '(' (...title,duration, genre)            VALUES [VALUES]...)">