## Akhil Vayunandan Reddy Ankireddypalli

## Question 2

### Create a session connection to Cassandra cluster

In [1]:
import pandas as pd

In [2]:
pip install cassandra-driver

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: cassandra-driver in /home/student/.local/lib/python3.10/site-packages (3.28.0)
Requirement already satisfied: six>=1.9 in /usr/lib/python3/dist-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /home/student/.local/lib/python3.10/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [4]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra

### Droping the 'term' Keyspace it it exist

In [5]:
session.execute("DROP KEYSPACE IF EXISTS term")

#### verifying and checking the keyspaces

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

### Creating the Keypace 'term'

In [7]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS term WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

### Verifing the Keyspace 'term' created

In [8]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
term

### Create a table for testing

In [9]:
session.execute("""
CREATE TABLE IF NOT EXISTS term.SongInfo ( 
    song_id INT, 
    title TEXT, 
    duration INT, 
    genre TEXT, 
    PRIMARY KEY(song_id)
);
""")

### Load the data

In [10]:
df = pd.read_csv('mid.csv')
df

   song_id        title   duration         genre
0        1   'break-up'          4        'rock'
1        2     'lingdi'          3         'pop'
2        3    'krishna'          4   'classical'
3        4     'loveit'          6    classical'
4        5     'driver'          4     'country'
5        6     'school'          5        'rock'

In [11]:
for index, row in df.iterrows():
    print(f"song_id = {row.song_id}, title ={row.title}, duration = {row.duration}, genre = {row.genre}")

AttributeError: 'Series' object has no attribute 'title'

In [ ]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO term.SongInfo (song_id, title, duration, genre)     
        VALUES ({row.song_id}, {row.title}, {row.duration}, {row.genre});
        """
    )
    session.execute(f"""
        INSERT INTO term.SongInfo (song_id, title, duration, genre)     
        VALUES ({row.song_id}, {row.title}, {row.duration}, {row.genre});
        """
    )