In the below code I am importing different libraries for our code to work. The pandas library is imported for python and we are importing cluster to create a session connection to cassandra cluster.

In [3]:
import pandas as pd
from cassandra.cluster import Cluster

In the below code I am creating a session connection so that I can be able to connect to the cassandra cluster.

In [4]:
clstr = Cluster()
session = clstr.connect()

In the below code I am creating a key space with a replication factor of 2. I am using the class called simple strategy which means that the first replica on a node determined by the partitioner. and additionally replicas are placed on the next nodes clockwise in the ring without considering topology. Here the replication factor of 2 implies that the each every data is replicated in once. The data will be available once in a primary node and once in a secondary node where the data is replicated. 

The keyspace here is defined as the outermost object in a cassandra cluster that controls how data replicated on nodes.

In [6]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS w04python WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':2
    }
""")

In the below code I have created a table in w04python directory where we have created our keyspace.  As per the instructions on the midterm question I have added SongID which should be unique and should be an integer. So I have provided datatype of int to the SongID. Accordingly I have added title, Duration of the song and Genre to the table.

In [9]:
session.execute("""
CREATE TABLE IF NOT EXISTS w04python.songs (
       SongID int,
       Title text,
       Duration_in_secs int,
       Genre text,
       PRIMARY KEY (SongID)
);
""")

The below is the code to insert data into the table which is successful and apart from this I have added 4 songs. The updating and deleting will be followed in the next code

In [15]:
insert_query = """
              INSERT INTO w04python.songs (SongID, Title, Duration_in_secs, Genre)     
              VALUES (1, 'despacito', 350,'romcom');

              INSERT INTO w04python.songs (SongID, Title, Duration_in_secs, Genre)     
              VALUES (2, 'rockabye', 420,'romcom');

              INSERT INTO w04python.songs (SongID, Title, Duration_in_secs, Genre)     
              VALUES (3, 'edshareen', 550,'romcom');

              INSERT INTO w04python.songs (SongID, Title, Duration_in_secs, Genre)     
              VALUES (4, 'international love', 450,'romcom');

              """

In the code below I have updated the genre where the songID is 1

In [17]:
update_query = """
               UPDATE w04python.songs
               SET Genre = funny
               WHERE SongID = 1
               """

In the below code I have deleted the row which has the songID =1

In [18]:
Delete_query = """
               DELETE w04python.songs
               WHERE SongID = 1
               """