# MidtermSection01

In [ ]:
### In this assignment we are going to perform the following tasks:
### 1.create a keyspace name bdmt
### 2.create a table name Song_list
### 3.Insert values into the table
### 4.update an existing record
### 5.deleting an existing record

## Import Packages

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra

In [3]:
session.execute("DROP KEYSPACE IF EXISTS bdmt")

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

Creating a keyspace bdmt : In the below query we are checking for the bdmt keyspace and if it doesn't exist then the code will create a keyspace named bdtm

In [7]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS bdmt WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':2
    }
""")

In [8]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bdmt
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

## Create a Table

In [9]:
session.execute("""
CREATE TABLE IF NOT EXISTS bdmt.Song_list ( 
    song_id INT, 
    title TEXT, 
    duration DURATION,
    genre TEXT, 
    PRIMARY KEY(title, genre, song_id)
);
""")

## Load Data

In [10]:
df = pd.read_csv('songs.csv')
df

,title,genre,song_id,duration
0,'10 Famous Gibson SG Players and their Guitars','rock',1,150s
1,'Avant-Garde','classical',2,90s
2,'Americana','country',3,50s
3,'Baroque','pop',4,35s
4,'Britpop','pop',5,45s
5,'American Traditional Rock','rock',6,20s

In [11]:
for index, row in df.iterrows():
    print(f"title = {row.title}, genre ={row.genre}, song_id = {row.song_id}, duration = {row.duration}")

title = '10 Famous Gibson SG Players and their Guitars', genre ='rock', song_id = 1, duration = 150s
title = 'Avant-Garde', genre ='classical', song_id = 2, duration = 90s
title = 'Americana', genre ='country', song_id = 3, duration = 50s
title = 'Baroque', genre ='pop', song_id = 4, duration = 35s
title = 'Britpop', genre ='pop', song_id = 5, duration = 45s
title = 'American Traditional Rock', genre ='rock', song_id = 6, duration = 20s

## Insert the value into the table

In [14]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)     
        VALUES ({row.title}, {row.genre}, {row.song_id}, {row.duration});
        """
    )
    session.execute(f"""
        INSERT INTO bdmt.Song_list (title, genre, song_id, duration)     
        VALUES ({row.title}, {row.genre}, {row.song_id}, {row.duration});
        """
    )

        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)
        VALUES ('10 Famous Gibson SG Players and their Guitars', 'rock', 1, 150s);


        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)
        VALUES ('Avant-Garde', 'classical', 2, 90s);


        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)
        VALUES ('Americana', 'country', 3, 50s);


        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)
        VALUES ('Baroque', 'pop', 4, 35s);


        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)
        VALUES ('Britpop', 'pop', 5, 45s);


        INSERT INTO bdmt.Song_list(title, genre, song_id, duration)
        VALUES ('American Traditional Rock', 'rock', 6, 20s);

In [17]:
rows = session.execute("select (title, genre, song_id, duration) from bdmt.Song_list")
for row in rows:
    print(f"title={row[0][0]}, genre={row[0][1]}, song_id={row[0][2]}, duration={row[0][3]}")

title=10 Famous Gibson SG Players and their Guitars, genre=rock, song_id=1, duration=0mo0d150000000000ns
title=Baroque, genre=pop, song_id=4, duration=0mo0d35000000000ns
title=Avant-Garde, genre=classical, song_id=2, duration=0mo0d90000000000ns
title=Britpop, genre=pop, song_id=5, duration=0mo0d45000000000ns
title=Americana, genre=country, song_id=3, duration=0mo0d50000000000ns
title=American Traditional Rock, genre=rock, song_id=6, duration=0mo0d20000000000ns

## Adding a Record to the table