# Song Database System
## Fuad Bin Saif
Steps for creating the required file:
* import necessary packages 
* create and connect to cassandra cluster
* create keyspace as specified in the question 
* create a table in the cassandra system
* add a record to the table 
* update an existing record
* delete an existing record

### Importing necessary packages

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### Connecting to a cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

#### Dropped keyspace since I have used the same docker to practice before

In [4]:
session.execute("DROP KEYSPACE IF EXISTS w04python")
session.execute("DROP KEYSPACE IF EXISTS w04")

#### Now I am creating my Keyspaace

In [5]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS midterms1 WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':5
    }
""")

#### Now that I have the keyspace created I will create the table

In [7]:
session.execute("""
CREATE TABLE IF NOT EXISTS midterms1.music ( 
    SongID INT, 
    Title TEXT, 
    Duration INT, 
    Genre TEXT, 
    PRIMARY KEY(SongID, Title, Duration)
);
""")

#### Now we will add records to this table first by loading data from a csv file I have created named C.csv

In [17]:
df = pd.read_csv('C.csv')
df

   SongID      Title  Duration      Genre
0     123  Spiderman       987        pop
1     321     Batman       878       rock
2     123   Superman      6676  classical
3     321    Aquaman     67892    country

### I used the cql command to insert data as my pyhton was not working

In [25]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO midterms1.music (SongID, Title, Duration, Genre)     
        VALUES ({row.SongID}, '{row.Title}', {row.Duration}, '{row.Genre}');
        """
    )
    session.execute(f"""
        INSERT INTO midterms1.music (SongID, Title, Duration, Genre)     
        VALUES ({row.SongID}, '{row.Title}', {row.Duration}, '{row.Genre}');
        """
    )

        INSERT INTO midterms1.music (SongID, Title, Duration, Genre)
        VALUES (123, 'Spiderman', 987, 'pop');


        INSERT INTO midterms1.music (SongID, Title, Duration, Genre)
        VALUES (321, 'Batman', 878, 'rock');


        INSERT INTO midterms1.music (SongID, Title, Duration, Genre)
        VALUES (123, 'Superman', 6676, 'classical');


        INSERT INTO midterms1.music (SongID, Title, Duration, Genre)
        VALUES (321, 'Aquaman', 67892, 'country');

###  deleting row

In [26]:
delete_query = f"""
    DELETE FROM midterms1.music
    WHERE SongID = {123};
"""

### My update query is as follows

In [32]:
update_query = f"""
    UPDATE midterms1.music
    SET Title = '{american pie}', Duration = {4646453}, Genre = '{pop}'
    WHERE SongID = {321};
"""

SyntaxError: f-string: invalid syntax. Perhaps you forgot a comma? (3689281651.py, line 3)