# HARITHA KARNA - MIDTERM NOTES
Here I created the Songs table and inserted the data into it. Upon insertion of the we performend the operations of Insert ,delete and update upon this table in Cassandra

In [1]:
#Importing the Packages
import pandas as pd
from cassandra.cluster import Cluster

### Creating a session for the cassandra Cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

Using the session to communicate with cassandra

In [3]:
session.execute("DROP KEYSPACE IF EXISTS Songs")

In [4]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
midterm1
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

In [5]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS Songs WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':5
    }
""")

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
midterm1
songs
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

In [7]:
session.execute("""
CREATE TABLE IF NOT EXISTS Songs.s(
    ID INT ,
    TITLE TEXT ,
    DURATION INT,
    GENRE TEXT,
    PRIMARY KEY(ID)
);
""")

In [8]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
midterm1
songs
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

In [9]:
df = pd.read_csv('Songs.csv')
df

     ID      TITLE  DURATION        GENRE
0  1234    'Style'       300        'Pop'
1  2345    'Lover'       400        'Pop'
2  9999   'Vishsa'      1000  'Classical'
3     7   'Narast'       450  'Classical'
4  2121    'River'       200    'Country'
5  5555  'Delilah'       899    'Country'

In [10]:
for index, row in df.iterrows():
    print(f"ID = {row.ID}, TITLE ={row.TITLE}, DURATION = {row.DURATION}, GENRE = {row.GENRE}")

ID = 1234, TITLE ='Style', DURATION = 300, GENRE = 'Pop'
ID = 2345, TITLE ='Lover', DURATION = 400, GENRE = 'Pop'
ID = 9999, TITLE ='Vishsa', DURATION = 1000, GENRE = 'Classical'
ID = 7, TITLE ='Narast', DURATION = 450, GENRE = 'Classical'
ID = 2121, TITLE ='River', DURATION = 200, GENRE = 'Country'
ID = 5555, TITLE ='Delilah', DURATION = 899, GENRE = 'Country'

### INSERTION OF DATA

In [11]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});       """
    )
    session.execute(f"""
        INSERT INTO Songs.s  (ID,TITLE,DURATION,GENRE)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
    )

        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)
        VALUES (1234, 'Style', 300, 'Pop');

        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)
        VALUES (2345, 'Lover', 400, 'Pop');

        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)
        VALUES (9999, 'Vishsa', 1000, 'Classical');

        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)
        VALUES (7, 'Narast', 450, 'Classical');

        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)
        VALUES (2121, 'River', 200, 'Country');

        INSERT INTO Songs.s (ID,TITLE,DURATION,GENRE)
        VALUES (5555, 'Delilah', 899, 'Country');

### UPDATE RECORD

In [12]:
rows = session.execute("select (ID, TITLE, DURATION, GENRE) from Songs.s")
for row in rows:
    print(f"ID={row[0][0]}, TITLE={row[0][1]}, DURATION={row[0][2]}, GENRE={row[0][3]}")

ID=2121, TITLE=River, DURATION=200, GENRE=Country
ID=2345, TITLE=Lover, DURATION=400, GENRE=Pop
ID=9999, TITLE=Vishsa, DURATION=1000, GENRE=Classical
ID=5555, TITLE=Delilah, DURATION=899, GENRE=Country
ID=7, TITLE=Narast, DURATION=450, GENRE=Classical
ID=1234, TITLE=Style, DURATION=300, GENRE=Pop

In [13]:
new_TITLE='hii'
new_ID=7
session.execute("UPDATE Songs.s SET TITLE=%s WHERE ID = %s", (new_TITLE,new_ID))

In [14]:
rows = session.execute("select (ID, TITLE, DURATION, GENRE) from Songs.s")
for row in rows:
    print(f"ID={row[0][0]}, TITLE={row[0][1]}, DURATION={row[0][2]}, GENRE={row[0][3]}")

ID=2121, TITLE=River, DURATION=200, GENRE=Country
ID=2345, TITLE=Lover, DURATION=400, GENRE=Pop
ID=9999, TITLE=Vishsa, DURATION=1000, GENRE=Classical
ID=5555, TITLE=Delilah, DURATION=899, GENRE=Country
ID=7, TITLE=hii, DURATION=450, GENRE=Classical
ID=1234, TITLE=Style, DURATION=300, GENRE=Pop

### DELETE RECORD

In [15]:
session.execute("DELETE FROM Songs.s where ID= 2121 ")

In [16]:
rows = session.execute("select (ID, TITLE, DURATION, GENRE) from Songs.s")
for row in rows:
    print(f"ID={row[0][0]}, TITLE={row[0][1]}, DURATION={row[0][2]}, GENRE={row[0][3]}")

ID=2345, TITLE=Lover, DURATION=400, GENRE=Pop
ID=9999, TITLE=Vishsa, DURATION=1000, GENRE=Classical
ID=5555, TITLE=Delilah, DURATION=899, GENRE=Country
ID=7, TITLE=hii, DURATION=450, GENRE=Classical
ID=1234, TITLE=Style, DURATION=300, GENRE=Pop