# SRI VENKATA LIKHITHA DUGGI _ MIDTERM DOCUMENT
### QUESTION - 2

In this notebook, I will create a songs table which has the fields: song_id, title, duration in seconds, and genre.
Datatypes are as follows:
song_id, duration - int
title, genre - text

I will demonstrate 3 functionalities - insert data, update a record, delete records.

### Import packages

In [1]:
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra

In [3]:
session.execute("DROP KEYSPACE IF EXISTS exam")

In [4]:
# Checking all keyspaces that are present
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04
w04python

In [5]:
session.execute("CREATE KEYSPACE IF NOT EXISTS exam WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [6]:
# Checking if the exam keyspace has been created
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
exam
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04
w04python

## Create Table

In [7]:
# Create a table for inventory
session.execute("""
    CREATE TABLE IF NOT EXISTS exam.songs (
        song_id INT,
        title TEXT,
        duration INT,
        genre TEXT,
        PRIMARY KEY(song_id)
    )
""")

### INSERT DATA

In [8]:
data = [
    (1, "Desi Girl", 195, "pop"),
    (2, "Love Story", 234, "rock"),
    (3, "Goodbye", 185, "classical"),
    (4, "Samajavaragamana", 179, "classical"),
    (5, "Wake up sid", 125, "country"),
   
]

for song in data:
    session.execute("INSERT INTO exam.songs (song_id, title, duration, genre) VALUES (%s, %s, %s, %s)", song)

Print all the rows in the table

In [9]:
rows = session.execute("select (song_id, title, duration, genre) from exam.songs")
for row in rows:
    print(f"song_id = {row[0][0]}, title = {row[0][1]}, duration = {row[0][2]}, genre = {row[0][3]}")

song_id = 5, title = Wake up sid, duration = 125, genre = country
song_id = 1, title = Desi Girl, duration = 195, genre = pop
song_id = 2, title = Love Story, duration = 234, genre = rock
song_id = 4, title = Samajavaragamana, duration = 179, genre = classical
song_id = 3, title = Goodbye, duration = 185, genre = classical

### UPDATE RECORD

I am updating the first song's genre from pop to country

In [10]:
new_genre="country"
new_song_id = 1
session.execute("UPDATE exam.songs SET GENRE=%s WHERE song_id = %s",(new_genre,new_song_id))

In [11]:
# Displaying records in table
rows = session.execute("select (song_id, title, duration, genre) from exam.songs")
for row in rows:
    print(f"song_id = {row[0][0]}, title = {row[0][1]}, duration = {row[0][2]}, genre = {row[0][3]}")

song_id = 5, title = Wake up sid, duration = 125, genre = country
song_id = 1, title = Desi Girl, duration = 195, genre = country
song_id = 2, title = Love Story, duration = 234, genre = rock
song_id = 4, title = Samajavaragamana, duration = 179, genre = classical
song_id = 3, title = Goodbye, duration = 185, genre = classical

### DELETE A RECORD

I am deleting all songs that belong to country genre

In [12]:
genre_to_del = "country"
result = session.execute ("SELECT song_id from exam.songs where genre = %s ALLOW FILTERING",(genre_to_del,))

for row in result:
    son_del = row.song_id
    session.execute("DELETE FROM exam.songs where song_id=%s",(son_del,))

In [13]:
# Displaying records in table
rows = session.execute("select (song_id, title, duration, genre) from exam.songs")
for row in rows:
    print(f"song_id = {row[0][0]}, title = {row[0][1]}, duration = {row[0][2]}, genre = {row[0][3]}")

song_id = 2, title = Love Story, duration = 234, genre = rock
song_id = 4, title = Samajavaragamana, duration = 179, genre = classical
song_id = 3, title = Goodbye, duration = 185, genre = classical