### Meghanjali CHennupati (U30308400)

### Question 2 Easy problem.

### In this assignment I would like to demonstrate the extension of the existing data base song system by creating a cassandra database table and inserting the records in to that.

### Importing all the required libraries

In [26]:
import pandas as pd
from cassandra.cluster import Cluster

### Creating a session connection to the cassandra cluster

In [27]:
clstr = Cluster()
session = clstr.connect()

### CHecking all the available key spaces in my cassandra data base

In [10]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### Dropping the keyspace if it existed . How ever it does not have existed before but Since i am submitting it willre run multiple times so I am including

In [28]:
session.execute("DROP KEYSPACE IF EXISTS midexam")

### I am creating a new keyspace midexam

In [29]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS midexam WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

### Chcking again whether my key space is created or not

In [16]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
midexam
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### Creating a songs table in the cassandra database with the required attributes mentioned in the question they are 

1. Song ID, Title , Duration , Genre.

In [30]:
session.execute("""
CREATE TABLE IF NOT EXISTS midexam.songs ( 
    song_id INT, 
    title TEXT, 
    duration FLOAT, 
    genre TEXT,
    PRIMARY KEY(song_id)
);
""")

### Summary till here:

1. Initially I started the cassandra 3 node cluster . Here I used the 3 node cluster . However the requirement has 5 node cluster so 3 is enough to create the cluster.

2. I have imported all the required libraries.

3. I have created a session to connect to the cassandra database.

4. I just checked the keyspaces how ever I am creating a fresh keyspace midexam. since I am submitting the notebook for rerunning it will be good to drop and then to create so i created.

5. I have created the keyspace and then created a table called songs with the songid which is unique and is a primary key. title, genre, duration are the columns that are specified in the requirements in question.

6. Coming to the datatypes of the columns I have taken song_id as INT , title as Text, duration as float which is in seconds and finally genre as Text.
7. Now I will create a sample csv file and will load the data and then insert , update , delete operations

### Loading the data

In [40]:
df = pd.read_csv('exam.csv')
df

   song_id   title  duration      genre
0     1000   'Tel'        23      'pop'
1     1001  'John'        24  'classic'
2     1002  'Jane'        23  'country'

In [36]:
for index, row in df.iterrows():
    print(f"song_id = {row.song_id}, title ={row.title}, duration = {row.duration}, genre = {row.genre}")

song_id = 1000, title ='kiara', duration = 23.4, genre = 'POP'
song_id = 1001, title ='melody', duration = 23.9, genre = 'Classial'
song_id = 1002, title ='love', duration = '26, genre = 'rock'
song_id = 1003, title ='rose', duration = 23, genre = 'country'

### Inserting the data

In [41]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO midexam.songs (song_id, title, duration, genre)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
       )
    session.execute(f"""
        INSERT INTO midexam.songs (song_id, title, duration, genre)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
       )

        INSERT INTO midexam.songs (song_id, title, duration, genre)
        VALUES (1000, 'Tel', 23, 'pop');


        INSERT INTO midexam.songs (song_id, title, duration, genre)
        VALUES (1001, 'John', 24, 'classic');


        INSERT INTO midexam.songs (song_id, title, duration, genre)
        VALUES (1002, 'Jane', 23, 'country');

### I updating a single record

In [54]:
session.execute(f"""
        UPDATE  midexam.songs set title='joe' where song_id=1002;
        """
       )

### Deleting a single record

In [55]:
session.execute(f"""
        DELETE FROM  midexam.songs where song_id=1002;
        """
       )

In [ ]:
session.execute(f"""
        DELETE FROM  midexam.songs where song_id=1002;
        """
       )

In [58]:
rows = session.execute("select (song_id,title,duration,genre) from midexam.songs;")
for row in rows:
    print(f"{row[0][0]}, {row[0][1]}, {row[0][2]}, {row[0][3]}")

1001, John, 24.0, classic
1000, Tel, 23.0, pop

### Analysis:

1. I inserted the records and updated a record and deleted a record finally i have printed the database.
2. As per question I did every thing and finally printed the resultant database to see my changes.