## Mid Term Exam
#### Shambhavi Mishra

### Business Problem: 

##### Through this notebook, I aim to Create an extention to the existing Song DB Systems by doing the following steps:
##### The song table consisit of the following attributes: SongId(text), title(text), duration(int), genre(text)
##### Adding a New Record
##### Updating the Existing Record
##### Deleting the Existing Record

#### Importing Packages

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

#### Creating session connection to Casandra Cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

#### Using Session to interact with Casandra

In [3]:
session.execute("DROP KEYSPACE IF EXISTS bd23")

#### Creating a Keyspace bd23

In [4]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [5]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [6]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

#### Creating Table for Songs - "song.csv"

In [7]:
session.execute("""
CREATE TABLE IF NOT EXISTS bd23.song ( 
    songId TEXT, 
    title TEXT, 
    duration INT, 
    Genre TEXT,
    PRIMARY KEY(songId)
);
""")

#### Loading the data from song.csv

In [8]:
df = pd.read_csv('song.csv')
df

   songId            title  duration        Genre
0  'H145'  'HappyBirthday'       180    'country'
1  'G149'     'YouAreCool'       190  'classical'
2  'K155'   'BirthdaySong'       198       'rock'
3  'I178'        'WithYou'       126       'rock'
4  'B198'        'Promise'       167        'pop'
5  'C143'          'ToYou'       145  'classical'
6  'D147'       'HappyDay'       178        'pop'
7  'E117'           'Love'       182    'country'
8  'Y123'          'Years'       145        'pop'

#### Inserting the values in the Song Table

In [9]:
for index, row in df.iterrows():
    print(f"songId = {row.songId}, title = {row.title}, duration = {row.duration}, Genre = {row.Genre}")

songId = 'H145', title = 'HappyBirthday', duration = 180, Genre = 'country'
songId = 'G149', title = 'YouAreCool', duration = 190, Genre = 'classical'
songId = 'K155', title = 'BirthdaySong', duration = 198, Genre = 'rock'
songId = 'I178', title = 'WithYou', duration = 126, Genre = 'rock'
songId = 'B198', title = 'Promise', duration = 167, Genre = 'pop'
songId = 'C143', title = 'ToYou', duration = 145, Genre = 'classical'
songId = 'D147', title = 'HappyDay', duration = 178, Genre = 'pop'
songId = 'E117', title = 'Love', duration = 182, Genre = 'country'
songId = 'Y123', title = 'Years', duration = 145, Genre = 'pop'

In [10]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO bd23.song (songId, title, duration, Genre)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
       )
    session.execute(f"""
        INSERT INTO bd23.song (songId, title, duration, Genre)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
       )

        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('H145', 'HappyBirthday', 180, 'country');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('G149', 'YouAreCool', 190, 'classical');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('K155', 'BirthdaySong', 198, 'rock');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('I178', 'WithYou', 126, 'rock');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('B198', 'Promise', 167, 'pop');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('C143', 'ToYou', 145, 'classical');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('D147', 'HappyDay', 178, 'pop');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('E117', 'Love', 182, 'country');


        INSERT INTO bd23.song (songId, title, duration, Genre)
        VALUES ('Y123', 'Years', 145, 'pop');

#### Adding a New Record (songId:'D167', title:'AllIsWell', duration:198, Genre'rock')

In [11]:
session.execute(f"""
        INSERT INTO bd23.song (songId, title, duration, Genre)     
        VALUES ('D167', 'AllIsWell', 198, 'rock');
        """
       )

#### Updating an Existing Record (Genre: 'country' to 'classic')

In [12]:
session.execute(f"""
        UPDATE bd23.song 
        Set Genre='Country'
        where songId='G149';
        """
       )

#### Deleting an Existing Record (id:C143)

In [13]:
session.execute(f"""
        DELETE FROM bd23.song 
        Where songId='C143';
        """
       )

In [14]:
rows = session.execute("SELECT (songId, title, duration, Genre) FROM bd23.song")
for row in rows:
    print(f"{row[0][0]}, {row[0][1]}, {row[0][2]}, {row[0][3]}")

D147, HappyDay, 178, pop
B198, Promise, 167, pop
D167, AllIsWell, 198, rock
G149, YouAreCool, 190, Country
E117, Love, 182, country
H145, HappyBirthday, 180, country
I178, WithYou, 126, rock
K155, BirthdaySong, 198, rock
Y123, Years, 145, pop

## By the end of this test - I was able to:
##### Create session to cassandra cluster
##### Create a Keyspace - bd23
##### Create a Table - song
##### Load the data in the song table
##### Add a new record -> songId:'D167', title:'AllIsWell', duration:198, Genre'rock'
##### Update an existing record: updated genre to "country" from classical for songid - 'G149'
##### Delete an existing record: deleted songId "C143"