In [2]:
import pandas as pd

from cassandra.cluster import Cluster

*** Creating Cluster ***

In [14]:
cluster1=Cluster()
session=cluster1.connect()

***Creating keyspace 'midtrm'***

In [4]:
session.execute("CREATE KEYSPACE IF NOT EXISTS midtrm WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' :2 }")

***Creating table 'song'***

In [6]:
session.execute("""
                 CREATE TABLE IF NOT EXISTS midtrm.song
                (
                 
                songID INT, 
                title TEXT, 
                duration INT, 
                genre TEXT, 
                PRIMARY KEY(songID,title,genre)
                );      
              """)

***Inserting values in the table***

In [9]:
session.execute(f"""
INSERT INTO midtrm.song (songID,title,duration,genre)     
        VALUES (1,'brit',180,'pop');

                """)
session.execute(f"""
INSERT INTO midtrm.song (songID,title,duration,genre)     
        VALUES (2,'mk',250,'rock');

                """) 
session.execute(f"""
INSERT INTO midtrm.song (songID,title,duration,genre)     
        VALUES (3,'bts',156,'country');

                """)
session.execute(f"""
INSERT INTO midtrm.song (songID,title,duration,genre)     
        VALUES (4,'sha',213,'classical');

                """)
session.execute(f"""
INSERT INTO midtrm.song (songID,title,duration,genre)     
        VALUES (5,'kir',195,'country');

                """)

***Updating the value of 'genre' in the record with songID 1***

In [20]:
session.execute(f"""
UPDATE genre = 'country'
        in midtrm.song
                where songID=1;

                """)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 2:13 no viable alternative at input '=' (UPDATE [genre] =...)">