# Assignment Demonstration

#### Shambhavi Mishra

### Connecting to Cassandra Database

#### Importing Libraries

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

#### Creating a session connection to Cassandra cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

NoHostAvailable: ('Unable to connect to any servers', {'127.0.0.1:9042': ConnectionRefusedError(111, "Tried connecting to [('127.0.0.1', 9042)]. Last error: Connection refused")})

#### Using the session to 'talk' to Cassandra

In [10]:
session.execute("DROP KEYSPACE IF EXISTS bd23")


#### Creating a Keyspace - bd23

In [11]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [12]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

In [13]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

#### Creating a table for inventory information

In [14]:
session.execute("""
CREATE TABLE IF NOT EXISTS bd23.inventory ( 
    SKU TEXT, 
    product_name TEXT, 
    description TEXT, 
    warehouse_num INT,
    PRIMARY KEY(SKU)
);
""")

#### Loading the data from 'inventory.csv'

In [15]:
df = pd.read_csv('inventory.csv')
df

        SKU product_name     description  warehouse_num
0  'SP5787'      'Prod1'  'Description1'            123
1  'TR8678'      'Prod2'  'Description2'            151
2  'MK4556'      'Prod3'  'Description3'            138
3  'YE8776'      'Prod4'  'Description4'            123
4  'XR4232'      'Prod5'  'Description5'            128
5  'BM4867'      'Prod6'  'Description6'            125
6  'WD4587'      'Prod7'  'Description7'            224
7  'TS9123'      'Prod8'  'Description8'            123

#### Inserting the values in the inventory table

In [16]:
for index, row in df.iterrows():
    print(f"SKU = {row.SKU}, product_name ={row.product_name}, description = {row.description}, warehouse_num = {row.warehouse_num}")

SKU = 'SP5787', product_name ='Prod1', description = 'Description1', warehouse_num = 123
SKU = 'TR8678', product_name ='Prod2', description = 'Description2', warehouse_num = 151
SKU = 'MK4556', product_name ='Prod3', description = 'Description3', warehouse_num = 138
SKU = 'YE8776', product_name ='Prod4', description = 'Description4', warehouse_num = 123
SKU = 'XR4232', product_name ='Prod5', description = 'Description5', warehouse_num = 128
SKU = 'BM4867', product_name ='Prod6', description = 'Description6', warehouse_num = 125
SKU = 'WD4587', product_name ='Prod7', description = 'Description7', warehouse_num = 224
SKU = 'TS9123', product_name ='Prod8', description = 'Description8', warehouse_num = 123

In [17]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)     
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
       )
    session.execute(f"""
        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)    
        VALUES ({row[0]}, {row[1]}, {row[2]}, {row[3]});
        """
       )

        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('SP5787', 'Prod1', 'Description1', 123);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('TR8678', 'Prod2', 'Description2', 151);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('MK4556', 'Prod3', 'Description3', 138);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('YE8776', 'Prod4', 'Description4', 123);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('XR4232', 'Prod5', 'Description5', 128);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('BM4867', 'Prod6', 'Description6', 125);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('WD4587', 'Prod7', 'Description7', 224);


        INSERT INTO bd23.inventory (SKU, product_name, description, warehouse_num)
        VALUES ('TS9123', 'Prod8', 'Description8', 123);

In [18]:
rows = session.execute("SELECT (SKU, product_name, description, warehouse_num) FROM bd23.inventory WHERE warehouse_num=123 ALLOW FILTERING")
for row in rows:
    print(f"{row[0][0]}, {row[0][1]}, {row[0][2]}, {row[0][3]}")

TS9123, Prod8, Description8, 123
SP5787, Prod1, Description1, 123
YE8776, Prod4, Description4, 123

## Learnings :
##### 1. Running the Cassandra Clusters
##### 2. Creating the table successfully
##### 3. Loading the data from csv file
##### 4. Running the query with Allow fitering as data has it reduces the run time