In [1]:
import pandas as pd
from cassandra.cluster import Cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

In [3]:
session.execute("DROP KEYSPACE IF EXISTS bd23")

In [4]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

In [5]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

In [7]:
session.execute("drop table if exists bd23.inventory;")

In [8]:
session.execute("""
CREATE TABLE IF NOT EXISTS bd23.storage (
    SKU TEXT ,
    NAME TEXT ,
    DESCRIPTION TEXT,
    WAREHOUSE_NUM INT,
    PRIMARY KEY(SKU)
);
""")

In [9]:
df = pd.read_csv('ASN.csv')
df

,SKU,NAME,DESCRIPTION,WAREHOUSE_NUM
0,'SKU05','Coffee Maker','Programmable coffee maker with a built-in gr...,123
1,'SKU06','Wireless Headphones','Noise-canceling wireless headphones with lon...,456
2,'SKU07','Digital Camera','High-resolution digital camera with zoom lens',789
3,'SKU08','Microwave Oven','Compact microwave oven with multiple cooking...,123
4,'SKU09','Blender','High-speed blender for smoothies and food pr...,382
5,'SKU10','Coffee Grinder','Electric coffee grinder for fresh coffee beans',123
6,'SKU11','Toaster','2-slice toaster with adjustable browning set...,521

In [10]:
for index, row in df.iterrows():
    print(f"SKU = {row.SKU}, NAME = {row.NAME}, DESCRIPTION = {row.DESCRIPTION}, WAREHOUSE_NUM = {row.WAREHOUSE_NUM}")

AttributeError: 'Series' object has no attribute 'NAME'