## U37870238 A2-Cassandra Python Programming
#### Sri Venkata Likhitha Duggi

Import packages

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### Create a session connected to Cassandra Cluster

In [2]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra

In [3]:
session.execute("DROP KEYSPACE IF EXISTS bd23")

Checking all keyspaces present

In [4]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### Question 5 - Creating bd23 keyspace

In [5]:
session.execute("CREATE KEYSPACE IF NOT EXISTS bd23 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':2}")

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

bd23
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### Question 6 - CREATE INVENTORY TABLE

In [8]:
# Create a table for inventory
session.execute("""
    CREATE TABLE IF NOT EXISTS bd23.inventory (
        SKU TEXT,
        name TEXT,
        description TEXT,
        warehouse_num INT,
        PRIMARY KEY(SKU)
    )
""")

### Question 7 - LOAD DATA

In [9]:
# Insert data in the table
data = [
    ("SKU1", "Books", "Long Notebooks", 123),
    ("SKU2", "Printer", "Laser Color printer", 124),
    ("SKU3", "Sofa", "Five Seater L shaped sofa set", 125),
    ("SKU4", "Microwave", "Grill Microwave oven", 126),
    ("SKU5", "Table", "Multipurpose table", 123),
    ("SKU6", "Chair", "Foldable chair with laptop stand", 123)
]

for product in data:
    session.execute("INSERT INTO bd23.inventory (SKU, name, description, warehouse_num) VALUES (%s, %s, %s, %s)", product)

In [10]:
# Query and print all entries in the inventory table
query = session.execute("SELECT * FROM bd23.inventory")

print("All Entries in the Inventory Table:")
for row in query:
    print(row)

All Entries in the Inventory Table:
Row(sku='SKU1', description='Long Notebooks', name='Books', warehouse_num=123)
Row(sku='SKU2', description='Laser Color printer', name='Printer', warehouse_num=124)
Row(sku='SKU5', description='Multipurpose table', name='Table', warehouse_num=123)
Row(sku='SKU4', description='Grill Microwave oven', name='Microwave', warehouse_num=126)
Row(sku='SKU6', description='Foldable chair with laptop stand', name='Chair', warehouse_num=123)
Row(sku='SKU3', description='Five Seater L shaped sofa set', name='Sofa', warehouse_num=125)

### Question 8 - Searching for products located at warehouse_num = 123

In [11]:
# Query for products in warehouse_num 123
query = session.execute("SELECT * FROM bd23.inventory WHERE warehouse_num = 123 ALLOW FILTERING")

for row in query:
    print(row)

Row(sku='SKU1', description='Long Notebooks', name='Books', warehouse_num=123)
Row(sku='SKU5', description='Multipurpose table', name='Table', warehouse_num=123)
Row(sku='SKU6', description='Foldable chair with laptop stand', name='Chair', warehouse_num=123)